@import './variables';
@import './mixin.scss';

.features {
        background-color: white;
        padding-top: 87px;
        @include media(830px){
            font-size: 72px;
            padding-top: 0;
        }
    &__container {
    }

    &__content {
        display: flex;
        @include media(1020px){
            flex-direction: column;   
            padding: unset;
        }
        &_reverse{
            display: flex;
            padding: 25px 0;
            @include media(1020px){
                flex-direction: column-reverse;
                padding: unset;
            }
        }
    }

    &__item {
        padding: 5%;
        color: $main-color;
        font-size: 17px;
        @include media(768px){
            padding: 15px;
        }

    }

    &__icon {
        margin-bottom: 5%;
    }

    &__title {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.43px;
    }

    &__text {
        margin-top: 25px;
    }
    &__image{
        width: 100%;
        height: auto;
    }

    &__img-container{
        max-height: 60vh;
        overflow: hidden;
    }
}
