@import './variables';
@import './mixin.scss';

.get {
    width: 100%;
    height: 100%;
    background-color: $second-color;
    position: relative;
    &__content {
        max-width: 575px;
        position: absolute;
        top: 20%;
        left: 20%;
        @include media(480px){
            position: static;
        }
    }

    &__title {
        font-size: 96px;
        font-weight: 700;
        line-height: 100px;
        color: $main-color;
        @include media(480px){
            text-align: center;
        }
    }

    &__button {
        background-color: $main-color;
        padding: 5px 40px;
        color: $second-color;
        border-radius: 3px;
        border: 1px solid transparent;
        margin-top: 50%;
        transition: 250ms ease-in;
        font-size: 22px;
        &:hover{
            background-color: $second-color;
            color: $main-color;
            border: 1px solid $main-color;
        }
        @include media(768px){
            margin-top: 10%;
            background-color: $second-color;
        }
        @include media(480px){
            width: 100%;  
            background-color:$main-color ;
            color: $second-color; 
            &:hover{
                background-color: $second-color;
                color: $main-color;
            }
        }
    }

    &__image {
        padding:150px;
        margin-left: auto;
        @include media(768px){
            padding: 0;
            max-width: 100%;
        }
    }
}
