@import './variables';
@import './mixin.scss';


.products {
    padding: 98px 0 !important;
    text-align: center;
		&__wrapper {
		}

        &__name{
            color: $main-color;
            font-size: 28px;
            font-weight: 700;
        }

		&__slide {
		}

		&__image {
            @include media(480px){
                width: 100%;
                height: auto;
            }
		}

		&__title {
            color: $main-color;
            font-size: 16px;
            font-weight: 500;
            line-height: 120%;
		}

        &__buttons{
            display: flex;
            gap: 50px;
            justify-content: center;
            @include media(768px){
                display: none;
            }
        }

        &__next{
            padding: 10px 30px;
            border: 1px solid $main-color;
            border-radius: 3px;
            transition: 250ms ease-in;
            cursor: pointer;
            &:hover,
            &:focus{
                background-color: $main-color;
                color: $second-color;
            }
        }

        &__prev{
            padding: 10px 30px;
            border: 1px solid $main-color;
            border-radius: 3px;
            transition: 250ms ease-in;
            cursor: pointer;
            &:hover,
            &:focus{
                background-color: $main-color;
                color: $second-color;
            }
        }
}