.stroke {
    padding: 180px 0 ;
    background-image: url(../images/ab.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include media(800px){
        padding: 144px 0;
    }   
    @include media(480px){
        padding: 72px 0;
    }   
    &__slider {
    }

    &__wrapper {
        text-align: center;
    }

    &__slide {
        color: $main-color;
        font-size: 110px;
        font-weight: 400;
        max-width: 100%;
        @include media(800px){
            font-size: 72px;
        }   
        @include media(480px){
            font-size: 48px;
        }   
    }
}
